# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build and tests (with analyzers)

on:
  push:
    branches:
      - '*'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Install and run biak
      run: |
        dotnet tool install --global kurnakovv.biak-preview --version 0.0.14-preview
        dotnet biak-preview
        dotnet biak-preview enable

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore
